{% extends "layout.html" %}
{% block body%}

{% endblock %}




<!-- <div class="video_of_plaatje">

        <video id="video" class="video" src="video.mp4" autoplay="true" muted="false"></video>

        <img id="plaatje" class="plaatje" src="plaatje.jpg"></img>
</div>



<style>
  @media only screen and (min-width: 900px){

    .video {
      display: unset; /* of display: normal; */
      muted: true;
     }

    .plaatje {
        display: none;
      }
  }
  @media only screen and (max-width: 900px){
    .video {
      display: none;
      muted: true;
     }

     .plaatje {
       display: unset;
     }
  }
</style> -->
