<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <title>Orders</title>
</head>
<body style="height:100%">
    <img id='pizza_background' src="{% static 'pizza_background.jpeg' %}">
    {% if Category %}  <!--hide when not logged in-->
    <div id='username'>
        <h5 class='px-2' ><a href="{% url 'index' %}"><img src="{% static 'home.png' %}"></a>
            {{user.username}} |
            {% if user.is_superuser %}
            <small><a href="{% url 'orders_manager' user Order_number %}">Orders manager</a></small> |
            {% endif %}
            {% if not user.is_superuser %}
            <small><a href="{% url 'my_orders' Order_number %}" style="color: saddlebrown">MY ORDERS</a></small> |
            {% endif %}
            <small><a href="{% url 'logout' %}" style="color: saddlebrown"> LOG OUT&nbsp;</a></small>
        </h5>
    </div>
    {% endif %}
    <p id='logo' class='text-center m-0 font-weight-bold'><a href="{% url 'index' %}">Your order</a></p>

    <div id='my_orders_container' class='w-50' style="padding-bottom: 20px;">

        <ul>

            {% for check_cat in Checkout_category %}
                <li class='text-left pr-3' style="color: saddlebrown">{{check_cat|cut:"("|cut:")"|cut:","|cut:"'"}}</li>
                {% for row in Checkout %}
                {% if row.category == check_cat|cut:"("|cut:")"|cut:","|cut:"'"  %}
                <li class='pr-3 text-left' >{{row}}&nbsp;</li>
                {% endif %}
                {% endfor %}
            {% endfor %}
            <!-- <hr style="background-color:grey; margin-right:20px;"> -->
            <li class='text-left pr-3 '><h1 style="color: saddlebrown"><small class='text-white'></small> ${{Total|floatformat:2}}</h1></li>
        </ul>
        {% if Status == 'initiated' and Total %}
        <a id='confirm_order'  href="{% url 'confirmed' Order_number %}"><div  class='w-50 rounded p-3  ml-auto mr-3 text-center text-white ' style="background-color: sienna;"><h4>Confirm order</h4></div></a>
        {% endif %}
    </div>
</body>
</html>
